<div class="card container-fluid shadow border-0">
  
    <div class="row justify-align-content-between w-100 p-2">
        <div class="col-3">
            <select class="custom-select border-primary align-middle" (change)="modo($event.target.value)">
                <option value="0" selected>Todos</option>
                <option value="1">Completados</option>
            </select>
        </div>
        <div class="col-9 row justify-content-end">
            <div class="w-50 mr-1">            
              <input width="50" class="form-control border-primary" [(ngModel)]="createTaskData.description" type="text" class="form-control" id="Description" name="Description" placeholder="Description">
            </div>
            <button (click)="addTask()" type="submit" class="btn btn-primary">Añadir nuevo</button>
        </div>
    </div>
  
  <div class="p-3 bg-white" style="border-radius: .75rem;">
      <table class="table table-borderless">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col"></th>
                  <th scope="col">Descripción</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody  *ngIf="data.count > 0" class="text-black-50">
              <tr *ngFor="let task of data.data; index as i">
                  <th class="align-middle" scope="row">{{i + 1}}</th>
                  <td class="align-middle"><input type="checkbox" id="completed" [(ngModel)]="task.completed" (change)="updateComplete(task.completed?'A':'B', i)"></td>
                  <td class="align-middle">{{task.description}}</td>
                  <td>
                    <a (click)="updateIt(i)" data-toggle="modal" data-target="#login-modal" class="btn btn-primary align-center mr-1">Editar</a>
                    <a (click)="deleteTask(i)" class="btn btn-danger align-center">Borrar</a>
                   </td>
              </tr>
          </tbody>
          <div *ngIf="data.count == 0" class="text-center">No tienes tareas aun</div>
      </table>
  </div>
</div>

<div class="modal fade" id="login-modal" data-backdrop="static" data-keyboard="true" tabindex="-1"
  aria-labelledby="login-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
        <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="row justify-content-center">
            <div class="col-7 text-center">
              <div class="form-group">
                <input class="border-primary" [(ngModel)]="updateTaskDescription.description" type="text" name="description" placeholder="Nueva descripción">
              </div>
              <div class="form-group">
                <button (click)="updateTask()" type="submit" class="btn btn-primary">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>